body {
    background-image: url('../assests/bgImg.webp'); /* Corrected path */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    font-family: "Gowun Batang", serif;
}

.homenav{
    background: rgba(255, 255, 255, 0);
}

.tint{
    width: 100vw;
    height: 100vh;
    background-color: #050000b6;
    overflow-y: auto;
}

.custom-brand {
    color: #eaff00 !important;
    font-family: "Gowun Batang", serif;
    font-weight: bold; 
    font-size: 50px; 
    letter-spacing: 5px;
}

.navbar-brand span{
    font-size: 15px;
}

.displayrow{
    margin-top: 90px;
    background: #00000060;
    width: 100.9vw;
    height: 10vh;
}

.displayrow .col{
    margin-top: 20px;
    font-size: 16px;
    color: white;
    letter-spacing: 3px;
}

.spacerow{
    height: 7vh;
}

.buttonrow{
    height: 50vh;
    width: 90vw;
}

.selection{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection button{
    height: 90%;
    width: 90%;
    border-style: none;
    border-radius: 20px;
    font-size: 22px;
    letter-spacing: 4px;
    color: #d3d9e9;
    text-shadow: 4px 4px 8px #000000;
}

.selection button:hover{
    height: 90%;
    width: 90%;
    border-style: none;
    border-radius: 20px;
    font-size: 22px;
    letter-spacing: 5px;
    color: white;
}

.inventory{
    background: linear-gradient(to right, #0266fc50, hsla(213, 69%, 46%, 0.349), #2e85ff73);
}

.order{
    background: linear-gradient(to right, #cb1bb621, #eb19e744, #f104fe52);
}

.previous{
    background: linear-gradient(to right, #b5e5171e, #e5da0a57, #f6b44937);
}

.manage{
    background: linear-gradient(to right, #056b221a, #0dc10a49, #00f1046f);
}

.inventory:hover{
    background: linear-gradient(to right, #0266fc8d, hsla(213, 82%, 51%, 0.663), #2e85ffb3);
}

.order:hover{
    background: linear-gradient(to right,  #cb1bb66b, #eb19e88a, #f104fe8d);
}

.previous:hover{
    background: linear-gradient(to right, rgba(244, 182, 82, 0.682), #e5da0ac0, #f7e302af);
}

.manage:hover{
    background: linear-gradient(to right, #056b2293, #0dc10ab7, #00f1049a);
}

.displayrow1{
    margin-top: 90px;
    background: #000000ba;
    width: 100.9vw;
    height: 12vh;
}

.displayrow1 .col-sm-1 .btn{
    margin-top: 2vh;
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
}

.displayrow1 .col-sm-10 h5{
    margin-top: 4vh;
    color: white;
}
