.content {
    height: 74vh;
    background: #00000016;
}

.btns {
    height: 74vh;
}

.col-sm-2 {

    height: 74vh;
}

.btnrow {
    height: 50%;
    width: 100%;
    margin-right: 0;
}

.btncol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.uprow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btncol button {
    height: 90%;
    width: 90%;
    background: linear-gradient(to right, #e9d71362, #d2dd05a2, #f0fc04ef);
    border: none;
    font-family: "Gowun Batang", serif;
    font-size: 130%;
    color: rgba(255, 255, 255, 0.799);
    font-weight: bold;
}

.btncol button:hover {
    height: 92%;
    width: 92%;
    background: linear-gradient(to right, #e9d713a4, #d2dd05cb, #f0fc04);
    letter-spacing: 5px;
}

.uprow button {
    font-family: "Edu AU VIC WA NT Hand";
    height: 50px;
    border-radius: 20px;
    background: linear-gradient(to right, #8bb56a2d, #73a84b79, #648d447c);
    border: none;
}

.uprow button:hover {
    border-radius: 10px;
    background: linear-gradient(to right, #8bb56ab6, #73a84bc6, #648d44c0);
    border: none;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.modal-custom-width {
    max-width: 90vw; 
    margin: auto;   
}

#lowstk, #expbtn{
    position: relative;
}

.low-stock-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -5px;
    right: -5px;
}

.expired-count{
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -5px;
    right: -5px;
}

@media (max-width: 582px) {
    .btnr{
        display: none;
    }
}

.itemroww .col{
    width: 100%;
}
